*{
    box-sizing: border-box;
    margin: 0px;
}


.space {
    flex-grow: 1;
}

body {
    background-color: whitesmoke;
}
/* HEADER START */
header {
    display: flex;
    align-content: center;
    background-color:#2f404d;
    padding: 25px 3%;
    color:black;
    margin-bottom: 2px;
    box-shadow: 1.5px 1.5px 1px #85ebd9;
    position: fixed;
    top: 0;
    width:100%;
    z-index: 2;
}

.logo {
    font-size: 2rem;
    color: #e2dddf;
    font-weight: 600;
    letter-spacing: 0.8rem;
    text-shadow: 3px 3px 2px black;
    line-height: 85%;
    font-family: 'Shadows Into Light', cursive;
}

header > img {
    height: 1.2rem;
    align-self: center;
    margin-left: 2rem;
}

header >picture {
    height: 1.2rem;
    align-self: center;
    position:relative;
    margin-bottom: 3px;
}

#basket {
        height: 120%;
        align-self: center;
}

#headCont {
    display: none;
}

a:link { text-decoration: none;}
a:visited { text-decoration: none;}
a:hover { text-decoration: none;}
a:active { 
    text-decoration: none; 
    color: #3d898d;
}

#headCont > a {
    color: #e2dddf;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-shadow: 1px 1px 1px black;
    font-family: 'Nunito', sans-serif;
}

#counter {
    width: 70%;
    height: 100%;
    background-color: #3d898d;
    border-radius: 100%;
    color: #e2dddf;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 65%;
    top: 55%;
}
/* HEADER END */

/* MENU START */
.menu {
    display: none;
    flex-direction: column;
    margin-top: 90px;
    position: fixed;
    right: 10px;
    top: 0;
    z-index: 1;
}

.menu > a {
    align-self: center;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    padding: 1% 10%;
    border-radius: 100px 100px 100% 100%;
    background-color: #3d898d;
    color: #e2dddf;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.15rem;
    width: 100px;
    text-align: center;
    box-shadow: 1px 1px 30px #2f404d;
}

.toggleMenu {
    display: flex;
}
/* MENU END */

/* SLIDER START */
#slider {
    width: 100%;
    max-width: 800px;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#sliding {
    height:min-content;
    max-width: 100%;
    max-height: 100%;
    align-self: center;
    justify-self: center;
}

#rightSlide {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

#leftSlide {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

#descr {
    display: flex;
    width: 100%;
    align-items:center;
    max-width: 800px;
    margin: 0px auto;
    color: #e2dddf;
    background-color: #2f404d;
    padding: 0px 2%;
    margin-top: 0.5%;
    box-shadow: -1.5px -1.5px 1px #85ebd9;
    font-family: 'Nunito', sans-serif;
    padding: 8px 3%;
    line-height: 30%;
    letter-spacing: 0.02rem;
}

#price {
    font-size: 0.9rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    text-shadow: 2px 2.5px 1.5px #3d898d;
}

#descr > p {
    font-size: 0.8rem;
}

#descr > button {
    background-color: #3d898d;
    color: #e2dddf;
    font-family: 'Nunito', sans-serif;
    border-radius: 20px;
    border-color: #2f404d;
    padding: 3px 2%;
    font-weight: 600;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
}


/* SLIDER END */

/* SHOPPING CART START */
/* ITEM LIST START */
#listCont {
    position: relative;
    min-height: 35vh;
    margin-top: 90px;
    font-family: 'Nunito', sans-serif;
}

#empty {
    text-align: center;
    font-size: 1.3rem;
    font-style: italic;
    color: gainsboro;
    font-weight: 300;
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    bottom: 0;
}

.listItem {
    display: flex;
    height: 15vh;
    width: 100%;
    max-width: 800px;
    align-items: center;
    margin: 0px auto;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 0px 5px;
}

.itemImg {
    height: inherit;
    margin-right: 5px;
}

.itemPrice {
    font-size: 1rem;
    text-shadow: 0.5px 0.5px 1px #3d898d;
    font-weight: 300;
    color: #2f404d;
}

.PnDCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-left: 20px;
}

.itemDelete {
    background-color: #3d898d;
    color: #e2dddf;
    font-family: 'Nunito', sans-serif;
    border-radius: 20px;
    border-color: #2f404d;
    padding: 3px 10px;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}
/* ITEM LIST END */

/* TOTAL LINE START */
#totCont {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 4% auto;
    padding: 4% 0px;
    font-family: 'Nunito', sans-serif;
}

.checkOut {
    margin-right:1rem;
    background-color: #3d898d;
    color: #e2dddf;
    font-family: 'Nunito', sans-serif;
    border-radius: 20px;
    border-color: #2f404d;
    padding: 3px 10px;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}
/* TOTAL LINE END */
/* SHOPPING CART END */

/* NEWSBOX START */
#newsBox > h2 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.50rem;
    text-align: center;
    position: relative;
    color: #e2dddf;
    text-shadow: 2px 2px 1px black;
    margin-top: 10px;
}

#newsBox > p {
    text-align: justify;
    font-size: 0.9rem;
    font-weight: 200;
    position:relative;
    margin: 5px 5% 0px;
    color: #e2dddf;
    letter-spacing: 0.01rem;
}

#newsBox > img {
    position:absolute;
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
}

#newsBox > h3 {
    padding: 0px 5%;
    position: relative;
    color: #e2dddf;
    letter-spacing: 0.25rem;
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 65%;
    margin-top: 225px;
}

#newsBox {
    margin: 20% auto 20%;
    width: 70%;
    max-width: 400px;
    min-height:500px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #2f404d;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #85ebd9;
    font-family: 'Nunito', sans-serif;
}

#newsBox > button {
    background-color: transparent;
    color: #e2dddf;
    font-family: 'Nunito', sans-serif;
    border-radius: 20px;
    border-color: transparent;
    padding: 0px 5%;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    position: relative;
    text-align: end;
}

#dotCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    position: absolute;
    top: 87%;
    bottom: 0;
    right: 0;
    left: 35.5%;
}

.dot {
    width: 10px;
    height: 10px;
    border: 1px;
    border-style: solid;
    border-color: #e2dddf;
    border-radius: 100%;
    background-color: none;
}
/* NEWSBOX END */

/* CONVERTER START */
#pounds, #ethereum {
    border: 1px;
    border-style: none;
    border-left: 0px;
    width: 88%;
    float: right;
    padding-left: 3%;
    font-family: 'Nunito', sans-serif;
    border-radius: 3px 20px 20px 3px;
    color: #2f404d;
    
}

.currency {
    background-color: #2f404d;
    border: 1px;
    border-style: solid;
    border-color: #2f404d;
    border-radius: 5%;
    width: 75%;
    max-width: 450px;
    padding-left: 1.5%;
    margin-top: 5px;
    margin-bottom: 1px;
    font-family: 'Nunito', sans-serif;
    border-radius: 20px;
    color: #e2dddf;

}

#convCont > h2 {
    font-weight: 200;
    font-family: 'Nunito', sans-serif;
    color: #2f404d;
}
/* REMOVE ARROWS FROM NUMBER INPUT*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: compat-auto;
  -webkit-appearance: none;
  margin: 0;
}/* ENDS */

#pounds {
    margin-left: 1%;
}

#convButt {
    width: 70%;
    max-width: 350px;
    letter-spacing: 0.5rem;
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
    color: #e2dddf;
    background-color: #3d898d;
    border-color: #2f404d;
    border-radius: 20px;
    font-weight: 600;
}

#convCont {
    margin: 10% auto 20%;
    width: 100%;
    max-width: 550px;
    font-family: 'Nunito', sans-serif;
    color: #2f404d;
    font-weight: 600;
}

#convCont > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}
/* CONVERTER END */

/* SUMMARY START */
#summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 17%;
    background-color: #2f404d;
    border-radius: 20px;
    color:#e2dddf;
    text-shadow: 2px 2px 1px black;
    font-family: 'Nunito', sans-serif;
    padding-top: 10px;
}

#summary > p {
    display: none;
}

#summary > h2 {
    font-weight: 200;
    letter-spacing: 0.25rem;
    font-size: 1.15rem;
    margin-bottom: 10px;

}
/* SUMMARY END */

/* FOOTER START */
footer {
    border: 0px;
    border-top: 1px;
    border-style: solid;
    border-color: #3d898d;
    text-align: center;
    color:#3d898d;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

#ghub {
    height: 30px;
}

footer > div {
    width: 50%;
}
/* FOOTER END */

/* CRYPTO START */
.currencyCont {
    margin: 200px auto 0px;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currencyCont > input {
    margin-right: 1px;
    border-radius: 5px;
    border: 1px solid rgb(174, 174, 174);
    padding: 1.05rem;
    font-size: 1.1rem;
    background-color: transparent;
    width: 30%;
    max-width: 300px;
}

.currencyCont > p {
    margin-left: 50px;
    margin-right: 1px;
    border-radius: 5px;
    border: 1px solid rgb(174, 174, 174);
    padding: 1.03rem;
}
/* CRYPTO END */

/* SIGNUP START */
#signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}

#signUp > input {
    border-radius: 5px;
    border: 1px solid rgb(174, 174, 174);
    padding: 1.05rem;
    font-size: 1.1rem;
    background-color: transparent;
    width: 90%;
    max-width: 500px;
    margin-bottom: 5px;
}

#signUp > p {
    color: red;
    margin-bottom: 5px;
}

#submit {
    letter-spacing: 0.25rem;
}
/* SIGNUP END */

@media screen and (min-width: 700px) {
/* SLIDER START */
    #slider {
        width: 97%;
        max-width: 800px;
        height: 80vh;
        position: relative;
        display: flex;
        justify-content: center;
        margin: 100px auto 0px;
        border: 1px #2f404d;
        border-style: solid;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 0px;
    }

    #sliding {
        height:min-content;
        max-width: 100%;
        max-height: 100%;
        align-self: center;
        justify-self: center;
    }

    #rightSlide {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
    }

    #leftSlide {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
    }

    #descr {
        width: 97%;
        margin: 0px auto 0px;
        border: 1px #2f404d;
        border-style: solid;
        border-radius: 0px 0px 20px 20px;
        border-top: 0px;
        box-shadow: none;
    }

    #price {
        font-size: 0.9rem;
        margin-right: 0.5rem;
        border-radius: 1rem;
        text-shadow: 2px 2.5px 1.5px #3d898d;
    }

    #descr > p {
        font-size: 0.92rem;
    }

    #descr > button {
        background-color: #3d898d;
        color: #e2dddf;
        font-family: 'Nunito', sans-serif;
        border-radius: 20px;
        border-color: #2f404d;
        padding: 3px 2%;
        font-weight: 600;
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
    }


/* SLIDER END */
}

@media screen and (min-width: 850px) {
/* HEADER START */
    #burgerMenu {
        display: none;
    }

    #headCont {
        display: flex;
        align-self: center;
        align-content: center;
    }

    #headCont > a {
        font-weight: 500;
        letter-spacing: 0.15rem;
        margin-left: 10vw;
        text-shadow: 2px 2px 1px black;
        font-size: 1.2rem;
    }

    .logo {
        font-size: 2.25rem;
        font-weight: 500;
        letter-spacing: 0.55rem;
    }

    header > img {
        height: 1.5rem;
        align-self: center;
        margin-left: 2rem;
    }
/* HEADER END */

/* SLIDER START */
    #slider {
        max-width: 800px;
        margin: 90px auto 0px;
    }

    #descr {
        margin-bottom: 15%;
    }
/* SLIDER END */

/* NEWSBOX START */
#newsBox > h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.25rem;
    text-align: center;
}

#newsBox > p {
    font-size: 1rem;
}

#newsBox > h3 {
    margin-top: 215px;
}
/* NEWSBOX END */


/* SUMMARY START */
#summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 0px 5%;
    height: 40px;
}

#summary > p {
    display: block;
    align-self: center;
    margin: auto;
}

#summary > h2 {
    font-weight: 300;
    letter-spacing: 0.2rem;
    margin: auto;
}
/* SUMMARY END */
}
@media screen and (min-width: 1000px) {
/* NEWSBOX START */
    #skeleton {
        height: 50vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 17%;
    }

    #newsBox > h2 {
        font-size: 2rem;
        letter-spacing: 0.25rem;
        font-weight: 500;
        text-align: center;
    }

    #newsBox {
        margin: 10% 4% 18%;
    }

    #newsBox > h3 {
        margin-top: 208px;
    }
/* NEWSBOX END */

/* CONVERTER START */
#convCont {
    margin: 10% -3% 20% 0px;
    width: 100%;
}
/* CONVERTER END */
}